<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{fragments/layout.html :: header}" ></header>



<main class="flex-fill">
    <div class="py-2 alert alert-success" role="alert" th:text="${error}" th:if="${error}"></div>

    <div class="container">
        <h1 class="display-3 fw-bold">Welcome to DiaryAPP</h1>
        <p class="lead">Your private space to note your thoughts, every day.</p>
        <a href="#" class="btn btn-primary btn-lg mt-3">Get Started</a>
    </div>
</main>






<footer th:replace="~{fragments/layout.html :: footer}" ></footer>
</body>
</html>