<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{fragments/layout.html :: header}" ></header>

<main class="flex-fill">

    <div class="py-2 alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>

    <!-- Ak neexistuje lastEntry -->
    <div class="container text-center mt-4" th:if="${lastEntry == null}">
        <h1>No record yet</h1>
        <a th:href="@{/article/create}" class="btn btn-primary btn-lg">Add your first record</a>
    </div>

    <!-- Ak existuje lastEntry -->
    <div th:if="${lastEntry != null}">
        <div class="container mt-2">
            <div class="card">
                <div class="card-header">
                    Last record
                </div>
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        <span th:text="${lastEntry.title}"></span>
                        <span th:text="${lastEntry.mood}"></span>
                    </h5>
                    <p class="card-text" th:text="${lastEntry.description}"></p>
                    <div class="d-flex">
                        <a th:href="@{'/article/detail/' + ${lastEntry.articleId}}" class="btn btn-primary">Show</a>
                        <a th:href="@{'/article/edit/' + ${lastEntry.articleId}}" class="btn btn-primary">Edit</a>
                    </div>

                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <span th:text="${daysMessage}"></span>
                    <span th:text="${lastEntry.date}"></span>
                </div>
            </div>
        </div>

        <hr>

        <div class="container">
            <div class="row">
                <!-- TOP ENTRIES -->
                <div class="col-5 mx-auto">
                    <h3 class="mb-3">TOP ENTRIES</h3>
                    <div class="btn-group mb-2" role="group">
                        <a class="btn btn-primary" th:href="@{/article/top-records}">See all top records ⭐️</a>
                    </div>
                    <table class="table table-striped table-bordered align-middle">
                        <thead class="table-dark">
                        <tr>
                            <th>Description</th>
                            <th>Mood</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="topEntry : ${topEntries}">
                            <td th:text="${topEntry.title}">Sample description</td>
                            <td th:text="${topEntry.mood}">7</td>
                            <td th:text="${topEntry.date}">2025-09-12</td>
                            <td><a th:href="@{'/article/detail/' + ${topEntry.articleId}}" class="btn btn-sm btn-primary">Show</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- MOOD ENTRIES -->
                <div class="col-7">
                    <h3 class="mb-3">MOOD ENTRIES</h3>
                    <div class="btn-group mb-2" role="group">
                        <a th:href="@{/article/top-mood}" class="btn btn-primary">😃</a>
                        <a th:href="@{/article/mid-mood}" class="btn btn-primary">😏</a>
                        <a th:href="@{/article/low-mood}" class="btn btn-primary">😞</a>
                    </div>
                    <table class="table table-striped table-bordered align-middle">
                        <thead class="table-dark">
                        <tr>
                            <th>Description</th>
                            <th>Mood</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="entry : ${moodTop}">
                            <td th:text="${entry.title}">Sample description</td>
                            <td th:text="${entry.mood}">7</td>
                            <td th:text="${entry.date}">2025-09-12</td>
                            <td><a th:href="@{'/article/detail/' + ${entry.articleId}}" class="btn btn-sm btn-primary">Show</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>
            <h2>All entries</h2>
            <table class="table table-striped table-bordered align-middle">
                <thead class="table-dark">
                <tr>
                    <th>Description</th>
                    <th>Mood</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${allEntries}">
                    <td th:text="${entry.title}">Sample description</td>
                    <td th:text="${entry.mood}">7</td>
                    <td th:text="${entry.date}">2025-09-12</td>
                    <td th:text="${entry.time}"></td>
                    <td><a th:href="@{'/article/detail/' + ${entry.articleId}}" class="btn btn-sm btn-primary">Show</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>

<footer th:replace="~{fragments/layout.html :: footer}" ></footer>
<script th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
</body>
</html>