<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{fragments/layout.html :: header}" ></header>

<main class="flex-fill">

    <div class="py-2 alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>

    <div class="container mt-2">
        <div class="card">
            <div class="card-header">
                Last record
            </div>
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-between">
                    <span th:text="${lastEntry.description}"></span>
                    <span th:text="${lastEntry.mood}"></span>
                </h5>
                <p class="card-text" th:text="${lastEntry.text}">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Edit</a>
            </div>
            <div class="card-footer text-muted" th:text="${lastEntry.date}">
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>TOP ENTRIES</h3>
                <ul class="list-group">
                    <li class="list-group-item d-flex" th:each="topEntry: ${topEntries}" >
                            <div th:text="${topEntry.description}"></div>
                        <a href="#" class="btn btn-primary">show</a>

                    </li>
                </ul>
            </div>

            <div class="col-8">
                <h3>MOOD ENTRIES</h3>

                <!-- Tabs or Pills can be used in a card with the help of .nav-{tabs|pills} and .card-header-{tabs|pills} classes -->
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">😃</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">😏</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="disabled-tab" data-bs-toggle="tab" href="#disabled" role="tab" aria-controls="disabled" tabindex="-1" aria-disabled="true">😞</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias praesentium illo omnis adipisci ipsa suscipit rerum quidem doloribus magnam?</div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, asperiores provident ea eaque quis omnis adipisci in exercitationem necessitatibus dolorem.</div>
                            <div class="tab-pane fade" id="disabled" role="tabpanel" aria-labelledby="disabled-tab">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit rem accusamus officia quia eos ducimus consequuntur! Impedit aliquid vero suscipit.</div>
                        </div>
                    </div>
                </div>







            </div>


        </div>
    </div>








</main>


<footer th:replace="~{fragments/layout.html :: footer}" ></footer>
<script th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
</body>
</html>