<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{fragments/layout.html :: header}" ></header>

<main class="flex-fill">

    <div class="py-2 alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>

    <div class="container mt-2">
        <div class="card">
            <div class="card-header">
                Last record
            </div>
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-between">
                    <span th:text="${lastEntry.description}"></span>
                    <span th:text="${lastEntry.mood}"></span>
                </h5>
                <p class="card-text" th:text="${lastEntry.text}">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Edit</a>
            </div>
            <div class="card-footer text-muted" th:text="${lastEntry.date}">
            </div>
        </div>
    </div>







</main>


<footer th:replace="~{fragments/layout.html :: footer}" ></footer>
<script th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
</body>
</html>