<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{fragments/layout.html :: header}" ></header>

<main class="flex-fill">
  <div class="container mt-3">
    <h1 th:text="${article.title}" >Detail</h1>
    <hr>
    <div class="d-flex justify-content-between">
      <h2 th:text="${article.description}" >Description and mood</h2>
      <h2 th:text="${article.mood}"></h2>
    </div>

    <hr>
    <p th:utext="${article.text}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam atque corporis deserunt dolorem expedita explicabo fuga laboriosam libero minus nemo, non nulla quidem quo, similique temporibus veniam voluptate, voluptatibus!</p>


    <hr>
    <div class="d-flex justify-content-between">
      <small class="text-muted" th:text="${daysMessage}"></small>
      <small class="text-muted" th:text="${article.date}"></small>
    </div>

    <a href="#" class="btn btn-primary mt-2">Edit</a>
  </div>






</main>
<footer th:replace="~{fragments/layout.html :: footer}" ></footer>
<script th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
</body>
</html>